{
    box-sizing: border-box;
    
}

body {
    margin:0 auto;
    border: solid 1px;
    text-align:center;    
    font-size: 18px;
    width:960px;
    background: #777;
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  header {
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #ebebeb;
  }

  nav{
    padding: 30px;
    margin-bottom: 20px;
    background: #ebebeb;

  }

  section {
    margin-bottom: 20px;
    height:250px;
  }
 
  #left{
    float: left;
    width: 495px;
    background: #ebebeb;
    }

  #right{
    background: #ebebeb;
    color:#777;
    width: 387px;
    float: left;
    margin-left: 18px;
    padding: 30px;
    height: 189px;
    }

  #article{
      background: #777;
      color:#ebebeb;
      width:85%;
      margin-top:26px;      
      margin-left: 7px;
      padding: 30px;
  }
 
#division{
    background: #ebebeb;
    color:#777;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
 }

#para{
    background: #ebebeb;
    color:#777;
    padding: 10px;   
}

  
footer {  
    padding: 30px;
    clear: both;
    background: #ebebeb;
    color:#777;
    margin-bottom: 20px;
   
  }

  